<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kName</key>
		<string>红颜劫</string>
		<key>icon</key>
		<string>jay_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>红颜劫</string>
		<key>icon</key>
		<string>jay_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>演员</string>
		<key>icon</key>
		<string>jay_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>传奇</string>
		<key>icon</key>
		<string>wf_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>简单爱</string>
		<key>icon</key>
		<string>jay_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>小苹果</string>
		<key>icon</key>
		<string>kzxd_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>I want it that way</string>
		<key>icon</key>
		<string>bb_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>泡沫</string>
		<key>icon</key>
		<string>dzq_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>瓦解</string>
		<key>icon</key>
		<string>jay_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>心碎无痕</string>
		<key>icon</key>
		<string>zxy_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>一千年以后</string>
		<key>icon</key>
		<string>jj_icon@2x.png</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>kName</key>
		<string>最佳损友</string>
		<key>icon</key>
		<string>eason_icon@2x.jpg</string>
		<key>kType</key>
		<string>mp3</string>
	</dict>
</array>
</plist>
